@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* Contenedor del header */
.app-header {
  display: flex;
  align-items: center;
  gap: 12px; /* espacio entre cápsula e info-btn */
}

.header-box {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 12px;
  padding: 6px 12px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* Marca “SkyCheck” */
.brand {
  font-family: "Source Serif 4", serif;
  padding-left: 3%;
  font-weight: 400;
  font-size: 2rem;
  color: #15324b;
  margin-right: 6px;
  white-space: nowrap;
  display: flex;
    align-items: center;
    gap: 0.5rem; /* espacio entre logo y título */
}
    

.brand-logo {
    height: 3rem; /* ajusta según tu diseño */
    width: auto;
    margin:0;
}

.brand-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Form de búsqueda */
.search {
  position: relative;
  flex: 0.5;   /* que crezca a lo largo */
  display: flex;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #3b556b;
  opacity: 0.85;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 10px 14px 10px 40px; /* espacio extra para la lupa */
  border-radius: 9999px;  /* súper redondo */
  border: 1px solid rgba(0, 0, 0, 0.08);
  outline: none;
  font-size: 15px;
  background: #DFEAFA;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.212);
}

.search-input::placeholder {
  color: #6b7f90;
  font-size: 14px;
}

.search-input:focus {
  border-color: #DFEAFA;
  box-shadow: 0 0 0 3px rgba(90,160,255,0.25), inset 0 1px 2px rgba(0,0,0,0.1);
}

.info-btn {
  flex: 0 0 auto;
  width: 7%;
  height: 55px;
  font-family: "Source Serif 4", serif;
  align-items: center;
  font-size: 2.5rem;   /* más proporcional */
  font-weight: 500;    /* corregido */
  border-radius: 30px;  /* círculo perfecto */
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: grid;
  place-items: center;
  color: #000000;
  margin-left: 1rem;
  border-width: none!important;
}