.principal-container {
  display: flex;  
  justify-items: flex-end;
  align-items: right;        /* centra verticalmente */
  height: 100vh;              /* ocupa toda la altura */
  padding: 2rem;
  width: 100vw;
}